{% extends "base.html" %}

{% block content %}

<div class="grid_11 prefix_1">{{ homeText.above_fold }}</div>

<div class="grid_13" id="practice_areas">
<ul>
{% for area in practice_areas %}
<li>
<a href="/practice_areas/{{area.slug}}/">
<div class="grid_4">
<h1>{{ area.title }}</h1>
<img src="/site_media/{{ area.image }}" alt="{{ area.title }}" /> 
<a href="/practice_areas/{{ area.slug }}/{{ area.sub_area_1_link }}"<p>{{ area.sub_area_1 }}</p></a>
<a href="/practice_areas/{{ area.slug }}/{{ area.sub_area_2_link }}"<p>{{ area.sub_area_2 }}</p></a>
<a href="/practice_areas/{{ area.slug }}/{{ area.sub_area_3_link }}"<p>{{ area.sub_area_3 }}</p></a>
<a href="/practice_areas/{{ area.slug }}/{{ area.sub_area_4_link }}"<p>{{ area.sub_area_4 }}</p></a>
{% if area.sub_area_5 %}
<a href="/practice_areas/{{ area.slug }}/{{ area.sub_area_5_link }}"<p>{{ area.sub_area_5 }}</p></a>
{% endif %}

</div>
</a>
</li>
{% endfor %}
</ul>
</div>

<div class="grid_11 prefix_1">{{ homeText.below_fold }}</div>

{% endblock %}
