{% extends "base.html" %}

{% block content %}

<div class="grid_11 prefix_1">{{ homeText.above_fold|escape|linebreaks }}</div>

<div class="grid_13" id="practice_areas">
<ul>
{% for area in practice_areas %}
<li>
<div class="grid_4">
<h1><a href="{{area.link}}">{{ area.title }}</a></h1>
<img src="/site_media/{{ area.image }}" alt="{{ area.title }}" /> 
<p><a href="{{ area.link }}{{ area.sub_area_1_link }}">{{ area.sub_area_1 }}</a></p>
<p><a href="{{ area.link }}{{ area.sub_area_2_link }}">{{ area.sub_area_2 }}</a></p>
<p><a href="{{ area.link }}{{ area.sub_area_3_link }}">{{ area.sub_area_3 }}</a></p>
<p><a href="{{ area.link }}{{ area.sub_area_4_link }}">{{ area.sub_area_4 }}</a></p>
{% if area.sub_area_5 %}
<p><a href="{{ area.link }}{{ area.sub_area_5_link }}">{{ area.sub_area_5 }}</a></p>
{% endif %}
</div>
</li>
{% endfor %}
</ul>
</div>

<div class="body_text grid_11 prefix_1">{{ homeText.below_fold|escape|linebreaks }}</div>

{% endblock %}
