{% extends "base.html" %}

{% block content %}
<div id="practice_area_detail">

<h1>{{ object.title }}</h1>

{{ object.text|escape|linebreaks }}

<h3><a name="{{object.sub_area_1_link}}">{{ object.sub_area_1 }}</a></h3>
{{ object.sub_area_1_text|escape|linebreaks }}

<h3><a name="{{object.sub_area_2_link}}">{{ object.sub_area_2 }}</a></h3>
{{ object.sub_area_2_text|escape|linebreaks }}

<h3><a name="{{object.sub_area_3_link}}">{{ object.sub_area_3 }}</a></h3>
{{ object.sub_area_3_text|escape|linebreaks }}

<h3><a name="{{object.sub_area_4_link}}">{{ object.sub_area_4 }}</a></h3>
{{ object.sub_area_4_text|escape|linebreaks }}

{% if object.sub_area_5 %}

<h3><a name="{{object.sub_area_5_link}}">{{ object.sub_area_5 }}</a></h3>
{{ object.sub_area_5_text|escape|linebreaks }}

{% endif %}

</div>

{% endblock %}
